/*
 * Bootstrap Documentation
 * Special styles for presenting Bootstrap's documentation and code examples.
 */



/* Key scaffolding
-------------------------------------------------- */

body {
	position: relative; /* For scrollyspy */
	padding-top: 50px; /* Account for fixed navbar */
}







/* Docs sidebar
-------------------------------------------------- */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
	position: static;
}

/* First level of nav */
.bs-sidenav {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top:    10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f5fa;
	border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
	display: block;
	color: #716b7a;
	padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
	text-decoration: none;
	background-color: #e5e3e9;
	border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: #563d7c;
	background-color: transparent;
	border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
	display: none; /* Hide by default, but at >768px, show it */
	margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
	padding-top:    3px;
	padding-bottom: 3px;
	padding-left: 30px;
	font-size: 90%;
}






/* Homepage masthead
-------------------------------------------------- */

.bs-masthead {
  position: relative;
  padding: 30px 15px;
  text-align: center;
  min-width: 300px;
}
.bs-masthead h1 {
  font-size: 50px;
  line-height: 1;
}

/* Download button */
.bs-masthead .btn-bs {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 24px;
  font-size: 21px;
}

/* Textual links */
.bs-social {
  margin-top: 30px;
  text-align: center;
}
.bs-masthead-links {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
.bs-masthead-links li {
  display: inline;
  color: #999;
}
.bs-masthead-links li + li {
  margin-left: 20px;
}

.bs-btn {
	padding: 8px 12px;
	font-size: 14px;
	border-radius: 4px;
}








/* Responsive variations
-------------------------------------------------- */

/* Hide code snippets on mobile devices */
@media screen and (max-width: 480px) {
	.highlight {
		display: none;
	}
	.bs-btn {
		padding: 4px 8px;
		font-size: 10px;
		border-radius: 2px;
	}
}



/* Tablets and up */
@media screen and (min-width: 768px) {
	/* Show the hidden subnavs when space allows it */
	.bs-sidebar .nav > .active > ul {
		display: block;
	}
	/* Tweak display of docs jumbotrons */
	.bs-masthead {
		padding-top:    100px;
		padding-bottom: 100px;
	}
	.bs-masthead h1 {
		font-size: 100px;
	}
	.bs-masthead p {
		margin-left: 15%;
		margin-right: 15%;
		font-size: 30px;
	}
}

/* Tablets/desktops and up */
@media screen and (min-width: 992px) {

	/* Widen the fixed sidebar */
	.bs-sidebar.affix,
	.bs-sidebar.affix-bottom {
		width: 213px;
	}
	.bs-sidebar.affix {
		position: fixed; /* Undo the static from mobile-first approach */
		top: 80px;
	}
	.bs-sidebar.affix-bottom {
		position: absolute; /* Undo the static from mobile-first approach */
	}
	.bs-sidebar.affix-bottom .bs-sidenav,
	.bs-sidebar.affix .bs-sidenav {
		margin-top: 0;
		margin-bottom: 0;
	}
	.bs-btn {
		padding: 14px 16px;
		font-size: 18px;
		border-radius: 6px;
	}
}

/* Large desktops and up */
@media screen and (min-width: 1200px) {

	/* Widen the fixed sidebar again */
	.bs-sidebar.affix-bottom,
	.bs-sidebar.affix {
		width: 270px;
	}
}


h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body {
  font-family: "Helvetica Neue", "Microsoft YaHei", "\5B8B\4F53", Helvetica, Arial, sans-serif;
}
.eA {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.eB {
  margin-left: -6px;
}
.eB a {
  margin-right: 12px;
}
