<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8" />
<title><%= sys.title %> - An File Server for D2 developers</title>
<%if (root.description) { %><meta name="description" content="<%= description %>" /><% } %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="me" href="<%= author %>" />
<link rel="stylesheet" type="text/css" href="/common/bootstrap/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/<%= sys.catalog %>css/base.min.css" />
<script type="text/javascript" src="/common/jquery/jquery.min.js"></script>
</head>

<body>
<% include nav.html %>