<div class="navbar navbar-inverse navbar-fixed-top wf_mNavbar">
	<div class="container">
		<a href="/node-d2server/index.html" class="navbar-brand">D2Server</a>
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".wf_mNavbar__collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<div class="nav-collapse collapse wf_mNavbar__collapse">
			<ul class="nav navbar-nav">
				<li<% if (sys.title == 'Get Started') { %> class="active"<%}%>>
					<a href="/<%= sys.catalog %><%= version%>/get-started.html">Get Started</a>
				</li>
				<li<% if (sys.title == 'Module') { %> class="active"<%}%>>
					<a href="/<%= sys.catalog %><%= version%>/module.html">Module</a>
				</li>
				<li<% if (sys.title == 'Download') { %> class="active"<%}%>>
					<a href="/<%= sys.catalog %><%= version%>/download.html">Download</a>
				</li>
				<li<% if (sys.title == 'Feedback') { %> class="active"<%}%>>
					<a href="/<%= sys.catalog %>feedback.html">Feedback</a>
				</li>
			</ul>
		</div>
	</div>
</div>