<div class="row">
	<div class="col-lg-3">
		<div class="bs-sidebar affix">
			<ul class="nav bs-sidenav">
				<li class="active">
					<a href="#overview">Overview</a>
				</li>
				<li>
					<a href="#dataapi">DataAPI</a>
					<ul class="nav">
						<li>
							<a href="#dataapi-opts">参数配置</a>
						</li>
						<li>
							<a href="#dataapi-file">文件管理</a>
						</li>
						<li>
							<a href="#wget">wget</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#mincssname">MinCssName</a>
				</li>
				<li>
					<a href="#extconfigfile">ExtraConfigFile</a>
				</li>
				<li>
					<a href="#html">HTML</a>
					<ul class="nav">
						<li>
							<a href="#html-conf">参数配置</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#filemap">FileMap</a>
				</li>
				<li>
					<a href="#catalog">Catalog</a>
				</li>
				<li>
					<a href="#ejs">EJS</a>
					<ul class="nav">
						<li>
							<a href="#ejs-param">模版参数</a>
						</li>
						<li>
							<a href="#ejs-extra">语法拓展</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#less">LESS</a>
					<ul class="nav">
						<li>
							<a href="#less-bem">BEM命名规则</a>
						</li>
						<li>
							<a href="#less-extra">BaseLess</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#final">Final</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-9">
		<!-- Overview：begin -->
		<div class="bs-docs-section">
			<div class="page-header">
				<h1 id="overview">Overview</h1>
			</div>
			<p class="lead">
				D2Server汇集了许多实用的模块，而且这些模块只要进行一些简单的配置，就可以帮你节约许多时间。同时，D2Server也针对外部模块进行了一些功能性地拓展，让他们更好地服务于前端开发工作。
			</p>
			<hr>
			<p>
				如果你还不了解D2Server，请先查看<a href="<%= master %>/README.md">说明文档</a>，判断D2Server是否你所需要的。
			</p>
			<p>
				如果你还不知道如何使用D2Server，请先阅读我们的<a href="/<%= sys.catalog %><%= version %>/get-started.html">快速部署教程</a>。
			</p>
		</div>

		<%include DataAPI.html %>

		<%include MinCssName.html %>

		<%include ExtraConfigFile.html %>

		<%include HTML.html %>

		<%include FileMap.html %>

		<%include Catalog.html %>

		<%include EJS.html %>

		<%include LESS.html %>
		
		<div class="bs-docs-section">
			<div class="page-header">
				<h1 id="final">结束语</h1>
			</div>
			<p>
				D2Server在6月份之前，还是自己写着玩的一个项目，一些功能由于测试的项目有限，可能还存在问题，欢迎在使用后给我们<a href="/<%= sys.catalog %>feedback.html" target="_blank">反馈</a>。
			</p>
			<p>
				D2Server的功能相对而言比较杂。项目也只是业余爱好，测试和开发时间并不怎么宽裕，请关注<a href="<%= master %>CHANGELOG.md" target="_blank">更新记录</a>，部分更新会存在不能向下兼容的问题。
			</p>
			<p>
				我们也在积极开发更多方便D2er工作和使用的功能模块，你可以在<a href="<%= todo %>" target="_blank">TODO List</a>找到我们的开发计划。
				也欢迎在Github上<a href="<%= fork %>">Fork D2Server</a>项目，让我们一起把D2Server做得更好。
			</p>


			<hr>
			<h5>关于JavaScript的编译器CoffeeScript为什么没有包含进D2Server</h5>
			<p>
				CoffeeScript的确对简写JS代码做出了不可抹灭的功勋，以至于1.85版的JavaScript标准中，也可以看到CoffeeScript的影子。但CoffeeScript在国内貌似非常非常的不普及，也在MDN看到一些反对的声音，毕竟JavaScript也不是脚本语言。
			</p>
		</div>
	</div>
</div>