<div class="container" style="text-align: center; min-width: 350px;">
	<div class="row">
		<div class="col-lg-12">
			<p style="padding-top: 100px; font-size: 24px;">
				正在带你前往Github项目的<a href="<%= nodeLib %>/issues">Issues</a>进行反馈操作
			</p>
			<p style="font-size: 18px; padding-top: 4px;">
				你需要Github帐号才能发言
			</p>
			<p style="padding-top: 22px;">如果浏览器没有自动跳转，<a href="<%= nodeLib %>/issues">请点击此处</a></p>
			<p>
				<a href="#" id="wf_stopReBt">终止跳转</a>
			</p>
		</div>
	</div>
</div>
<% include ../common/footer-text.html %>
<script type="text/javascript">
;(function(){
	var wait = setTimeout(function(){
		window.location.href="<%= nodeLib %>/issues";
	}, 2000);

	document.getElementById('wf_stopReBt').onclick = function(){
		clearTimeout(wait);
		this.parentNode.parentNode.removeChild(this.parentNode);
		return false;
	};
})();
</script>