<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1>下载源码</h1>
			<% include download.html %>
			<hr>
			<h3>相关资源推荐</h3>
			<ul>
				<li>
					<a href="https://help.github.com/" target="_blank">如何使用Git</a>
				</li>
				<li>
					<a href="/<%= sys.catalog %>get-started.html">了解如何安装组件及配置D2Server</a>
				</li>
				<li>
					<a href="/<%= sys.catalog %>feedback.html" target="_blank">下载遇到问题，我要反馈</a>
				</li>
				<li>
					<a href="/<%= sys.catalog%>get-started.html#project">怎么用D2Server管理前端开发项目</a>
				</li>
				<li>
					<a href="/<%= sys.catalog %>module.html">深入了解D2Server的各个模块</a>
				</li>
			</ul>
		</div>
	</div>
</div>