<div class="bs-masthead">
	<div class="container">
		<h1>D2Server</h1>
		<p class="lead">An File Server for D2 developers</p>
		<p>
			<a class="btn btn-large btn-primary" href="<%= masterZip %>">Download D2Server</a>
		</p>
	</div>
	<hr>
	<div class="container">
		<div class="wf_mFooter2">
			<a href="<%= nodeLib %>#d2server" target="_blank">这是什么</a>
			<a href="<%= nodeLib %>#features" target="_blank">特性</a>
			<a href="<%= master %>CHANGELOG.md" target="_blank">更新记录</a>
			<a href="/node-d2server/get-started.html">开始使用</a>
			<a href="<%= fork %>">fork</a>
		</div>
	</div>
</div>