<div class="bs-masthead">
	<div class="container">
		<h1>D2Server</h1>
		<p class="lead">An File Server for D2 developers</p>
		<p>
			<a class="btn bs-btn btn-primary" href="<%= masterZip %>">Download D2Server</a>
			<a href="/<%= sys.catalog %>get-started.html" class="btn bs-btn btn-success">配置D2Server教程</a>
		</p>
	</div>
	<div class="container">
		<!-- JiaThis Button BEGIN -->
		<div class="jiathis_style" style="width: 250px; margin: 22px auto 12px;">
			<span class="jiathis_txt">分享到：</span>
			<a class="jiathis_button_qzone"></a>
			<a class="jiathis_button_tsina"></a>
			<a class="jiathis_button_tqq"></a>
			<a class="jiathis_button_renren"></a>
			<a class="jiathis_button_douban"></a>
			<a class="jiathis_button_weixin"></a>
			<a class="jiathis_button_cqq"></a>
			<a class="jiathis_button_tieba"></a>
			<a class="jiathis_button_t163"></a>
			<a class="jiathis_button_xiaoyou"></a>
		</div>
		<script type="text/javascript">
		var jiathis_config = {data_track_clickback:'true'};
		</script>
		<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1375936934454860" charset="utf-8"></script>
		<!-- JiaThis Button END -->
	</div>
	<hr>
	<div class="container">
		<div class="wf_mFooter2">
			<a href="<%= nodeLib %>#d2server" target="_blank">这是什么</a>
			<a href="<%= nodeLib %>#features" target="_blank">特性</a>
			<a href="/<%= sys.catalog %>get-started.html">开始使用</a>
			<a href="<%= nodeLib %>/releases" target="_blank">Releases</a>
			<a href="<%= nodeLib %>" target="_blank">Github</a>
			<a href="<%= fork %>" target="_blank">Fork</a>
			<a href="/license.html" target="_blank">MIT</a>
		</div>
	</div>
</div>